<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Enquiry Login </title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
       rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
       crossorigin="anonymous">
</head>
<body>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card shadow-lg p-4" style="width: 420px; border-radius: 12px;">
    
    <h3 class="text-center mb-3">Unlock Account</h3>
    <p class="text-center text-muted mb-4">Enter your registered details to unlock your account</p>


<p th:text="${errMsg}" class="text-danger"></p>
<p th:text="${sucessMsg}" class="text-success"></p>
    <form th:action="@{/unlockpage}" th:object="${unlock}" method="POST">
      
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Enter your email" required>
      </div>
<div class="mb-3">
        <label class="form-label">Temporary Password</label>
        <input type="email" class="form-control" th:field="*{tempPwd}" placeholder="Enter your email" required>
      </div>
<div class="mb-3">
        <label class="form-label">New Password</label>
        <input type="email" class="form-control" th:field="*{newPwd}" placeholder="Enter your email" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="text" class="form-control" th:field="*{confirmPwd}" placeholder="Enter your mobile number" required>
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-3"value="Unlock">Unlock Account</button>
      
      <p class="text-center mt-3">
        <a href="/login" class="text-decoration-none">Back to Login</a>
      </p>

    </form>
  </div>
</div>

</body>
</html>